lib/scorm/templates/scorm2004/imscp_v1p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.imsglobal.org/xsd/imscp_v1p1" targetNamespace="http://www.imsglobal.org/xsd/imscp_v1p1" version="IMS CP 1.1.4">
  <xsd:annotation>
    <xsd:documentation>XSD for IMS Content Packaging 1.1.4</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xsd:element name="manifest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="metadata"/>
        <xsd:element ref="organizations"/>
        <xsd:element ref="resources"/>
        <xsd:element ref="manifest" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="version" type="xsd:string"/>
      <xsd:attribute ref="xml:base"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="metadata">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="schema" type="xsd:string" minOccurs="0"/>
        <xsd:element name="schemaversion" type="xsd:string" minOccurs="0"/>
        <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="organizations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="organization" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="default" type="xsd:IDREF" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="organization">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element ref="item" maxOccurs="unbounded"/>
        <xsd:element ref="metadata" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="structure" type="xsd:string" default="hierarchical"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element ref="item" minOccurs="0" maxOccours="unbounded"/>
        <xsd:element ref="metadata" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="identifierref" type="xsd:IDREF"/>
      <xsd:attribute name="isvisible" type="xsd:boolean" default="true"/>
      <xsd:attribute name="parameters" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="resources">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="resource" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute ref="xml:base"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="resource">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="metadata" minOccurs="0"/>
        <xsd:element ref="file" maxOccurs="unbounded"/>
        <xsd:element ref="dependency" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="identifier" type="xsd:ID" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
      <xsd:attribute ref="xml:base"/>
      <xsd:attribute name="href" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="file">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="metadata" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="href" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="dependency">
    <xsd:complexType>
      <xsd:attribute name="identifierref" type="xsd:IDREF" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
